spring:
  profiles:
    active: DEV

  datasource:
    url: jdbc:postgresql://localhost:5432/study
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 7720

  jpa:
    hibernate:
      ddl-auto: create

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    display-request-duration: true
    tags-sorter: alpha
    operations-sorter: default
